@import url('https://fonts.googleapis.com/css?family=Dancing+Scipt');
body {
    padding-left: 8em;
    font-family: "Times New Roman", Times;
    color: black;
    background-image:url('https://www.pinterest.es/pin/493144227947033562/') ;
    
}
img{
    width: 200px;height:200px;
    position:absolute;
    top:1em;
    left:1em;
}

h1{
    text-align: center;
    display:inline-block;
    position:relative;
    left:400px;
    font-family: 'Dancing Script', cursive;
}
h1::after,h1::before{
    content:'';
    position:absolute;
    width: 200px;
    height:3px;
    background-color: black;
    top:0.6em;
}
h1::before{
    left:-220px;
}
h1::after{
    right: -220px;
}
h2{
    text-align: center;
    right: -220px;
    font-family: 'Dancing Script', cursive;
}
h3{
    font-family: "Times New Roman", Times;
}
.form-registro{
    width:400px;
    background:rgb(36, 36, 36);
    padding:30px;
    margin:auto;
    margin-top:50px;
    border-radius: 10px;
    font-family: "Times New Roman", Times;
    color:white;
}
.form-registro h3{
    font-size: 22px;
    margin-bottom: 20px;
    font-family: "Times New Roman", Times;
}
.controls{
    width:100%;
    background: rgb(105, 105, 105);
    padding: 5px;
    border-radius: 5px;
    border:2px solid blue;
    font-family: "Times New Roman", Times;
    font-size: 18px;
}
.form-registro p{
    height:60px;
    text-align: center;
    font-size: 18px;
    line-height: 60px;
}
.form-registro a:hover{
    color: white;
    text-decoration: underline;
}
.form-registro .botones{
    width:100%;
    background: blue;
    border: none;
    padding:12px;
    color:white;
    margin: 16px 0;
    font-size: 16px;
}
.form-registro .check{
    padding:12px;
    position:absolute;
    top:945px;
    left:520px
}
.Menu{
    position: relative;
    top:40px;
    float:right;
    width:30%;
    overflow: hidden;
}
.Menu a{
    box-sizing: border-box;
    margin:0px;
    background-color: black;
    color:white;
    text-decoration: none;
    padding: 20px;
    display: block;

}

.Menu a:hover{
    background-color: white;
    color:black;

}